[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2-binary = "*"
gunicorn = "*"
whitenoise = "*"
django-crispy-forms = "*"
crispy-bootstrap5 = "*"
django = "*"

[dev-packages]

[requires]
python_version = "3.9"
